.about-wrapper{
    width: 95%;
    margin: 0 auto 6%;
    .title{
        font-size: 3rem;
        text-align: center;
        position: relative;
        width: 100%;
        margin: 6% auto 3%;
    }

    .description{
        font-size: 1.5rem;
        line-height: 3rem;
    }
    
    .content{
        display: flex;
        flex-wrap: wrap;
        .skills-wrapper{
            width: 100%;
            h1{
                text-align:center;
            }
            .skills{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: space-between;
                .skill{
                    border: 1px solid rgba(255, 255, 255, 0.301);
                    text-align:left;
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                    padding:0.5rem 0rem;
                    width: 20%;
                    min-width: 150px;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
                    transition: 0.5s ease-in-out;
                    @media (max-width:500px){
                        width: 100%;
                    }


                    &:hover{
                        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
                        transform: scale(1.02);
                    }
                    p{
                        margin: 0;
                        padding-left: 0.5rem;
                        &:last-child{
                            color: rgba(255, 255, 255, 0.4);
                            text-transform: lowercase;
                            border-top:1px solid rgba(255, 255, 255, 0.4);
                        }
                    }
                }
            }
        }


        .social{
            width: 100%;  
            h1{
                text-align:center;
            }
            .links{
                display: flex;
                justify-content: space-around;;
                align-content: center;
                a{
                    color: white;
                    transition: 0.5s ease-in-out;
                    &:hover{
                        transform: scale(1.2);
                    }
                    svg{
                        font-size: 5rem;

                    }
                }
            }
        }
    }
}