@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,600&family=Nunito&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background: #232323;
    color: white;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Nunito', sans-serif;
}

.title{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

nav{
    position: fixed;
    z-index: 99;
    top: 0;
    // width: 25%;
    transition: top 0.5s;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: crimson;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}